<div class="container my-3 col-md-4">
    <a href="#" class="cursor-pointer" style="color: grey;"><i class="fa-solid fa-x my-3"></i></a>
    <h1>Sign Up</h1>
    <h6>It's quick and easy.</h6>
    <hr>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col">
            <input type="text" class="form-control" 
            formControlName="firstname" [ngClass]="{'is-invalid' : submitted && f['firstname'].errors}"
            placeholder="First name">
            <div *ngIf="submitted && f['firstname'].errors" class="invalid-feedback">
                <div *ngIf="f['firstname'].errors['required']">Enter Firstname</div>
            </div>
          </div>

          <div class="col">
            <input type="text" class="form-control" 
            formControlName="surname" [ngClass]="{'is-invalid' : submitted && f['surname'].errors}"
            placeholder="Surname">
            <div *ngIf="submitted && f['surname'].errors" class="invalid-feedback">
                <div *ngIf="f['surname'].errors['required']">Enter Surname</div>
            </div>
          </div>

        </div>

        <div class="form-group my-2">
            <input type="email" class="form-control" 
            formControlName="email" id="exampleInputEmail1" 
            [ngClass]="{'is-invalid' : submitted && f['email'].errors}"
            placeholder="Mobile number or Email address">
            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <div *ngIf="f['email'].errors['required']">Enter Email</div>
            </div>
        </div>

        <div class="form-group my-2">
            <input type="text" class="form-control" 
            formControlName="password" 
            [ngClass]="{'is-invalid' : submitted || f['password'].touched && f['password'].errors}"
            id="exampleInputPassword1" placeholder="New Password">
            <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                <div *ngIf="f['password'].errors['required']">Enter Password</div>
                <div *ngIf="f['password'].errors['minlength']">Enter Min 8 characters</div>
                <div *ngIf="f['password'].errors['maxlength']">Max 25 characters only</div>
            </div>
        </div>

        <div class="row">
            <h6>Date of birth <i class="fa fa-question-circle"></i></h6>
              <div class="col">
                  <select name="date" class="form-control round" 
                  formControlName="dateofbirth"
                  [ngClass]="{'is-invalid' : submitted && f['dateofbirth'].errors}">
                        <option value="" disabled selected>Date</option>
                        <option value="" *ngFor="let item of [].constructor(32); let i = index">
                          {{i}}</option>
                </select>
              </div>
              <div class="col">
                  <select name="date" class="form-control round" 
                  formControlName="dateofbirth"
                  [ngClass]="{'is-invalid' : submitted && f['dateofbirth'].errors}">
                        <option value="" disabled selected>Month</option>
                        <option value="january">January</option>
                        <option value="february">February</option>
                        <option value="march">March</option>
                        <option value="april">April</option>
                        <option value="may">May</option>
                        <option value="june">June</option>
                        <option value="july">July</option>
                        <option value="august">August</option>
                        <option value="september">September</option>
                        <option value="october">October</option>
                        <option value="november">November</option>
                        <option value="december">December</option>
                </select>
              </div>
              <div class="col">
                <select name="date" class="form-control round" 
                formControlName="dateofbirth"
                [ngClass]="{'is-invalid' : submitted && f['dateofbirth'].errors}">
                      <option value="" disabled selected>Year</option>
                      <option *ngFor="let i of yearRange(1970, 2023)" [value]="i"> {{i}} </option>
              </select>
            </div>
          </div>
          <div class="row my-2">
            <h6>Gender <i class="fa fa-question-circle"></i></h6>
            <div class="col">
                <label class="form-control">Female
                    <input class="form-check-input" style="float:inline-end;" 
                    type="radio" name="gender" 
                    formControlName="gender"
                    [ngClass]="{'is-invalid' :submitted && f['gender'].errors}"
                    id="inlineRadio1" value="option1">
                </label>
                
              </div>
              <div class="col">
                <label class="form-control">Male
                    <input class="form-check-input" style="float:inline-end" 
                    type="radio" name="gender" 
                    formControlName="gender"
                    [ngClass]="{'is-invalid' :submitted && f['gender'].errors}"
                    id="inlineRadio2" value="option2">
                </label>
              </div>
              <div class="col">
                <label class="form-control">Others
                    <input class="form-check-input" style="float:inline-end;" 
                    type="radio" name="gender" 
                    formControlName="gender"
                    [ngClass]="{'is-invalid' :submitted && f['gender'].errors}"
                    id="inlineRadio3" value="option3">
                </label>
              </div>
          </div>
          <h6>People who use our services may have uploaded your contact information to Facebook. 
            <a href="#" style="text-decoration: none">Learn more.</a> </h6>
          <br>
          <h6>By clicking SignUp, you agree to our 
            <a href="#" style="text-decoration: none">Terms</a>, 
            <a href="#" style="text-decoration: none">Privacy Policy</a> and 
            <a href="#" style="text-decoration: none">Cookies Policy</a>.</h6>
          <h6>You may recieve SMS notifications from us and can opt out at any time.</h6>
          <div class="d-grid gap-2 col-6 mx-auto my-2">
              <button type="submit" class="btn btn-success">Sign Up</button>
          </div>

      </form>
</div>